<launch>
  <arg name="remapped_tf" default="/tf" />
  <arg name="partial_namespace" default="workstation" />
  <arg name="joint_topic" default="/hubo/head_joint_states" />

  <param name="robot_head_description" textfile="$(find hubo_head_description)/robots/hubo_head_description.URDF" />

  <node name="head_state_publisher" pkg="robot_state_publisher" type="state_publisher"
        ns="$(arg partial_namespace)">
    <remap from="robot_description" to="robot_head_description" />
    <remap from="joint_states"      to="$(arg joint_topic)" />
    <remap from="/tf"               to="$(arg remapped_tf)" />
  </node>

  <node name="body_to_head_tf_publisher" pkg="tf" type="static_transform_publisher" ns="$(arg partial_namespace)"
        args="0.01 0 0 0.0 0.0 0 /Body_NKY /head_base_link 100">
    <remap from="/tf" to="$(arg remapped_tf)" />
  </node>

</launch>
