<launch>
  <arg name="model" />
  <arg name="gui" default="True" />
  <arg name="publish_joints" default="False" />
  <param name="robot_head_description" textfile="$(find hubo_head_description)/robots/hubo_head_description.URDF" />
  <param name="use_gui" value="$(arg gui)" />
  <arg name="remapped_tf" default="/tf" />

  <node if="$(arg publish_joints)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <remap from="robot_description" to="robot_head_description" />
    <remap from="joint_states" to="/hubo/head_joint_states" />
    <remap from="/tf" to="$(arg remapped_tf)" />
  </node>

  <node name="head_state_publisher" pkg="robot_state_publisher" type="state_publisher" >
    <remap from="robot_description" to="robot_head_description" />
    <remap from="joint_states" to="/hubo/head_joint_states" />
    <remap from="/tf" to="$(arg remapped_tf)" />
  </node>

<!--<node name="body_to_head_tf_publisher" pkg="tf" type="static_transform_publisher" args="0.03 0 -0.03 0.07 0.04 0 /Body_NKY /head_base_link 100">
      <remap from="/tf" to="$(arg remapped_tf)" />
    </node>-->

  <node name="body_to_head_tf_publisher" pkg="tf" type="static_transform_publisher" args="0.01 0 0 0.0 0.0 0 /Body_NKY /head_base_link 100">
    <remap from="/tf" to="$(arg remapped_tf)" />
  </node>

  <!--<node pkg="opportunistic_link" type="request_link_startpoint.py" name="jointstate_startpoint" output="screen" >
      <param name="input_topic_name" type="string" value="/hubo/head_joint_states" />
      <param name="topic_type" type="string" value="sensor_msgs/JointState" />
      <param name="request_service" type="string" value="joint_states/data" />
      <remap from="/tf" to="$(arg remapped_tf)" /> -->
  </node>

</launch>
